# Default ignored files
/../../../Web Uygulamaları Geliştirme/Seyahat Blogu/.idea/shelf/
/../../../Web Uygulamaları Geliştirme/Seyahat Blogu/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../Web Uygulamaları Geliştirme/Seyahat Blogu/.idea/httpRequests/
# Datasource local storage ignored files
/../../../Web Uygulamaları Geliştirme/Seyahat Blogu/.idea/dataSources/
/../../../Web Uygulamaları Geliştirme/Seyahat Blogu/.idea/dataSources.local.xml
